apiVersion: apps/v1
kind: Deployment
metadata:
  name: triage-agent
  namespace: support-agents
  labels:
    app: triage-agent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: triage-agent
  template:
    metadata:
      labels:
        app: triage-agent
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9090"
        prometheus.io/path: "/metrics"
    spec:
      serviceAccountName: triage-agent
      containers:
        - name: triage
          image: "992382652038.dkr.ecr.us-east-1.amazonaws.com/triage-agent:latest"   # e.g. 123456789012.dkr.ecr.us-east-1.amazonaws.com/triage-agent:latest (build and push from repo root first)
          imagePullPolicy: IfNotPresent
          ports:
            - name: metrics
              containerPort: 9090
              protocol: TCP
          envFrom:
            - configMapRef:
                name: triage-agent-config
            - secretRef:
                name: triage-agent-keys
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
      restartPolicy: Always
