apiVersion: apps/v1
kind: Deployment
metadata:
  name: billing-agent
  namespace: support-agents
  labels:
    app: billing-agent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: billing-agent
  template:
    metadata:
      labels:
        app: billing-agent
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9091"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: billing
          image: "992382652038.dkr.ecr.us-east-1.amazonaws.com/billing-agent:latest"
          imagePullPolicy: IfNotPresent
          ports:
            - name: metrics
              containerPort: 9091
              protocol: TCP
          envFrom:
            - configMapRef:
                name: billing-agent-config
            - secretRef:
                name: billing-agent-keys
                optional: true
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
      restartPolicy: Always
